<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/inventory</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <mapping resource="com/crossover/inventory/dao/Customer.hbm.xml"/>
        <mapping resource="com/crossover/inventory/dao/SalesOrder.hbm.xml"/>
        <mapping resource="com/crossover/inventory/dao/Product.hbm.xml"/>
        <mapping resource="com/crossover/inventory/dao/OrderLine.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
